<section class="presentation" id="andrew-forward">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
          <img src="/assets/images/people/presenters/andrew-forward.jpg"
               class="presentation-presenter__avatar"
               alt="Andrew Forward headshot" />
        </div>

        <h4 class="presentation-presenter__name">Andrew Forward</h4>

        <p class="presentation-presenter__link">
          <a href="https://twitter.com/a4word">@a4word</a>
        </p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">LiveView: Rich Client Side Experience Delivered From the Server</h3>
        <div class="presentation__description">
          <p>
            Let’s welcome LiveView to the Elixir Phoenix ecosystem. Wanted:
            rich user experience, JavaScript frameworks need not apply.
          </p><p>
            Despite being very (very) new come learn more about some common
            user interface features that can be solved with LiveView, and some
            lessons learned along the way to refactoring away from custom
            JavaScript and towards LiveView controllers.
          </p>
        </div>
        <div class="presentation__bio">
          <p><strong>About Andrew: </strong>
            Andrew Forward is happiest during biking season. Otherwise
            reserved, he has a passion for software engineering, finance and
            fitness; often intermixing all three.  Andrew works remotely as a
            developer for CrossFit HQ, but also dabbles as a part-time
            professor at the University of Ottawa.  Andrew came to Elixir
            for the syntax, but stayed for the OTP.
          </p>
        </div>
    </div>
</section>

