<section class="presentation" id="brian-mitchell">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
          <img src="/assets/images/people/presenters/brian_mitchell.jpg"
               class="presentation-presenter__avatar"
               alt="Brian Mitchell headshot" />
        </div>

        <h4 class="presentation-presenter__name">Brian Mitchell</h4>

        <p class="presentation-presenter__link">
          <a href="https://twitter.com/strmpnk">@strmpnk</a>
        </p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">In Conversation With Dave Thomas</h3>
        <div class="presentation__description">
          <p>
          Brian will engage with Dave Thomas on topics posed by Dave.
          </p>
        </div>
        <div class="presentation__bio">
          <p><strong>About Brian: </strong>
            Brian Mitchell has worked with Erlang for many years and enjoys what
            Elixir brings to the ecosystem. He has worked in a wide variety of
            domains that range from embedded systems to clustered database
            systems. He enjoys teaching others about various interesting ideas he
            has encountered during his programming career. When not coding, you
            might catch him playing the game of Go.
          </p>
        </div>
    </div>
</section>

