<section class="presentation" id="eric-meadows-jonsson">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
          <img src="/assets/images/people/presenters/eric-meadows-jonsson.png"
               class="presentation-presenter__avatar"
               alt="Eric Meadows-Jonsson headshot" />
        </div>

        <h4 class="presentation-presenter__name">Eric Meadows-J&#246;nsson</h4>

        <p class="presentation-presenter__link">
          <a href="https://twitter.com/emjii">@emjii</a>
        </p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Introducing Mint, a process-less HTTP client</h3>
        <div class="presentation__description">
          <p>
            In this talk we will present Mint, a new HTTP client for Elixir supporting HTTP/1 and HTTP/2. Mint has a process-less architecture using pure data structures, we will show why this architecture gives the developer more flexibility in how they can use the library but also the possible downsides of this approach. We will look at different use cases for Mint and finally go into some of the details of how to implement a HTTP library and how to build libraries using pure data structures.
          </p>
        </div>
        <div class="presentation__bio">
          <p><strong>About Eric: </strong>
            Eric Meadows-J&#246;nsson is a member of the Elixir team and an active member of the Elixir community being the creator of many libraries, including Ecto and the Hex package manager. Eric is a co-author of the book "Programming Ecto" published by Pragmatic Bookshelf.
          </p>
        </div>
    </div>
</section>

