<section class="presentation" id="james-lavin">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/james-lavin.jpg" class="presentation-presenter__avatar" alt="James Lavin" />
        </div>

        <h4 class="presentation-presenter__name">James Lavin</h4>

        <p class="presentation-presenter__link"><a href="https://twitter.com/jamesklavin">@jamesklavin</a></p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Lessons Learned Building a Medication Service at Teladoc and How Ecto Saved the Day</h3>
        <div class="presentation__description">
          <p>
            Learn how Teladoc built a medication history and pharmacy benefits service as an Elixir umbrella project. Hear about tools used and lessons learned during the project. And find out how Ecto saved the day when databases were radically overhauled.
          </p>
        </div>
        <div class="presentation__bio">
            <p><strong>About James: </strong>James wasted 14 years at Harvard, LSE, and Stanford studying Not Programming, wrote "Management Secrets of the N.E. Patriots," then became a Ruby dev, the last 5 yrs at Hedgeye &amp; Teladoc. Spoiled by Elixir, he's now enjoying learning Elm, Haskell, &amp; FP.</p>
        </div>
    </div>
</section>

