<section class="presentation" id="jon-carstens">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
          <img src="/assets/images/people/presenters/jon-carstens.jpg"
               class="presentation-presenter__avatar"
               alt="Jon Carstens headshot" />
        </div>

        <h4 class="presentation-presenter__name">Jon Carstens</h4>

        <p class="presentation-presenter__link">
          <a href="https://twitter.com/joncarstens">@joncarstens</a>
        </p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Dadgineering with Elixir+Nerves</h3>
        <div class="presentation__description">
          <p>
          Are you a parent of children, pets, or just really immature roommates? Do you wish you could use Elixir to help solve household issues and annoyances? Do you frequently over-engineer side projects? Then you might be a dadgineer (or momgineer).
          </p><p>
          This talk is compilation of fun projects using Elixir &amp; Nerves to solve silly problems around my home. Projects such as a ""Picture Board Turn Selector"" to programmatically answer the age old question of ""Whose turn is it!?"", complete with LED light show. Or hardening the security of the toy storage room with electromagnetic latching and biometric unlocking procedure.
          </p><p>
          The projects are overly complex for the problems they are solving, but my hope is that it helps inspire others to break into the world of hardware. To provide yet another set of wild examples to show how fun and sometimes surprisingly easy it is to create your own customizations in the physical world.
          </p>
        </div>
        <div class="presentation__bio">
          <p><strong>About Jon: </strong>
            Happily married father of four young kids. Wannabe woodworker. Avid bike rider. Hardware fanatic. Lover of good BBQ, chocolate chip cookies, and swimming.
          </p>
        </div>
    </div>
</section>

