<section class="presentation" id="kate-travers">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/kate-travers.jpg" class="presentation-presenter__avatar" alt="Kate Travers" />
        </div>

        <h4 class="presentation-presenter__name">Kate Travers</h4>

        <p class="presentation-presenter__link"><a href="https://twitter.com/kttravers">@kttravers</a></p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Pattern Matching: The Gateway to Loving Elixir</h3>
        <div class="presentation__description">
          <p>
            What is pattern matching in Elixir? For this developer, it's what won me over to the language. This deceptively powerful paradigm is at the heart of what makes Elixir such a compelling language to program in. It's doing so much more than help you write small, declarative, maintainable functions; it's making you a stronger programmer. This talk covers pattern matching basics, then moves into practical, real world examples for a thorough introduction to Elixir's implementation of this crush-worthy construct.
          </p>
        </div>
        <div class="presentation__bio">
            <p><strong>About Kate: </strong>Kate is a NYC-based web developer. A graduate of the Flatiron School, Kate spends her days building Learn.co. Outside work, Kate is an active volunteer and tutor through FIS, as well as backup quarterback for her co-ed touch football team.</p>
        </div>
    </div>
</section>

