<section class="presentation" id="mat-trudel">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/mat-trudel.jpg" class="presentation-presenter__avatar" alt="Mat Trudel" />
        </div>

        <h4 class="presentation-presenter__name">Mat Trudel</h4>

        <p class="presentation-presenter__link"><a href="https://twitter.com/mattrudel">@mattrudel</a></p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">`mix new beats` -- Recreating The "Amen Break" with Elixir</h3>
        <div class="presentation__description">
          <p>
            As part of my day job I write and maintain SchedEx, a Swiss Army knife for job scheduling in Elixir. It's an indispensable library that sits at the core of a product used in manufacturing plants worldwide. An after work discussion led me down the path of applying SchedEx to soft real-time scheduling, and before long the beats project was born. Using the production proven SchedEx library as a foundation, beats is an ncurses-based, file-driven, actually-sort-of-useful drum machine that also happens to be a great lab for exploring scheduling. The talk will provide a tour of several real world patterns for job scheduling within Elixir, demonstrate some strengths and limitations of the Erlang runtime, and also build up a few classic beats &amp; breaks along the way.
          </p>
        </div>
        <div class="presentation__bio">
            <p><strong>About Mat: </strong>Mat is a polymath tech consultant from Toronto who loves solving the really gnarly problems. A relentless builder whose natural habitat is the basement workbench, he's a fan of honesty, good design, and golden era hip-hop.</p>
        </div>
    </div>
</section>

