<section class="presentation" id="shanti-chellaram">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/shanti-chellaram.jpg" class="presentation-presenter__avatar" alt="Shanti Chellaram" />
        </div>

        <h4 class="presentation-presenter__name">Shanti Chellaram</h4>

        <p class="presentation-presenter__link"><a href="https://twitter.com/theccoder">@theccoder</a></p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">The Best of Both Worlds: High Performance Recommendations with Elixir NIFs</h3>
        <div class="presentation__description">
          <p>
            Teachers Pay Teachers needed to build a system to serve our feature-factorization item recommendation model. I go in depth to how we used erlang's process model for managing and sharding the data set, and C's power for fast number crunching to build a system that could serve thousands of users personalized recommendations from over 2 million items.
          </p>
        </div>
        <div class="presentation__bio">
            <p><strong>About Shanti: </strong>Shanti is a software engineer at Teachers Pay Teachers, where she helps develop backend systems in Elixir and Erlang.</p>
        </div>
    </div>
</section>

