<section class="presentation" id="sophie-debenedetto">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/user.jpg" class="presentation-presenter__avatar" alt="Sophie DeBenedetto" />
        </div>

        <h4 class="presentation-presenter__name">Sophie DeBenedetto</h4>

        <%# <p class="presentation-presenter__link"><a href="https://twitter.com/speakername">@speakername</a></p> %>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Phoenix Presence: The Right Way To Track User Involvement in Real-Time Features</h3>
        <div class="presentation__description">
          <p>
            You've used Phoenix Channels to build real-time features like collaborative text editors, games and chatting apps. But how can you acheive the common real-time aim of tracking and displaying a user's participation in such features? While we can leverage GenServers to build out features like displaying the users in a chat room and indicating who is typing, that approach leaves us responsible for hand rolling *a lot* of code. Enter Phoenix Presence! The Phoenix Presence module provides an API for you to register information regarding a given topic and expose that information to all of that topic's channels. Phoenix Presence is powerful because it is distributed and resilient––unlike tools like Redis, which rely on a centralized data store, Presence uses a conflict-free replicated data type protocol. 
          <p></p> 
            You'll learn how to use Phoenix Presence to track user participation in a real-time feature and you'll gain a deeper understanding of the technology behind the awesome power of Phoenix Presence. We'll look at how to include Phoenix Presence in a Phoenix app that already leverages channels to implement a real-time collaborative text editor. If you have some experience with Phoenix Channels, all the better, but we'll cover some high-level Phoenix Channel concepts and spend most of our time on the incorporation of Phoenix Presence on the back-end, with a brief look at some Phoenix Presence client-side code.
          </p>
        </div>
        <div class="presentation__bio">
            <p><strong>About Sophie: </strong>Bio Here</p>
        </div>
    </div>
</section>

