<section class="presentation" id="[presenter-name-here]">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
          <img src="/assets/images/people/presenters/[link to headshot]"
               class="presentation-presenter__avatar"
               alt="" />
        </div>

        <h4 class="presentation-presenter__name">[Presenter Full Name]</h4>

        <p class="presentation-presenter__link">
          <a href="https://twitter.com/[tritter handle]">@[twitter handle]</a>
        </p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">[Talk Title]</h3>
        <div class="presentation__description">
          <p>
            [Talk Descrdiption]
          </p>
        </div>
        <div class="presentation__bio">
          <p><strong>About [First Name]: </strong>
            [Presenter Bio]
          </p>
        </div>
    </div>
</section>

