<section class="presentation" id="vaibhav-sagar">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
          <img src="/assets/images/people/presenters/vaibhav-sagar.png"
               class="presentation-presenter__avatar"
               alt="Vaibhav Sagar headshot" />
        </div>

        <h4 class="presentation-presenter__name">Vaibhav Sagar</h4>

        <p class="presentation-presenter__link">
          <a href="https://twitter.com/vbhvsgr">@vbhvsgr</a>
        </p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Functional DevOps in a Dysfunctional World</h3>
        <div class="presentation__description">
          <p>
            What happens after you cut a release? Getting your finished software in the hands of your users can be quite an ordeal, especially if you use tools that make things harder than they need to be. It turns out that a functional approach has benefits even after the development team has written their last line of code.
          </p><p>
            I will motivate and demonstrate using the Nix suite of tools to package and deploy a web service, showing how this helps us reconcile the sometimes conflicting priorities of development and operations teams and allows us to respond nimbly to change as it occurs.
          </p>
        </div>
        <div class="presentation__bio">
          <p><strong>About Vaibhav: </strong>
            Vaibhav used to write web applications for a living. He still does, but he used to, too. When he's not doing that he yells about Nix on Twitter, reracks his bumper plates, and listens to a lot of really good disco.
          </p>
        </div>
    </div>
</section>

