<section class="presentation" id="wojtek-mach">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/user.jpg" class="presentation-presenter__avatar" alt="Wojtek Mach" />
        </div>

        <h4 class="presentation-presenter__name">Wojtek Mach</h4>

        <%# <p class="presentation-presenter__link"><a href="https://twitter.com/speakername">@speakername</a></p> %>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Recurrences & Intervals</h3>
        <div class="presentation__description">
          <p>
            This talk is retelling my journey down the rabbit hole of dealing with date &amp; time.
          </p>
          <p>
          We will start the journey with date/time recurrences. Then, we will look at time intervals and operations around them. Finally, we will look at Eric Evans' talk "Exploring Time" which gives a fresh look at date/time in general and intervals in particular (spoiler alert: there might be some relevant research from the 80s around that too!). We will model both recurrences and intervals as streams and we will try to show that Elixir's extensibility makes it a great language for developing business applications.
        </div>
        <div class="presentation__bio">
            <%# <p><strong>About Wojtek: </strong>Bio Here</p> %>
        </div>
    </div>
</section>

