@import './2018-styles';

$h3: 22px;
$p: 16px;

$section-margin: 5rem;

$background-black: #010205;

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 0;
}

@mixin section-color($color) {
  color: $color;
  p, h1, h2, h3, h4, h5, h6 {
    color: $color;
  }
}

@mixin city-input($background: rgba(gray, 0.25),$border: gray) {
  background: $background;
  padding: 2.375rem 2.875rem;
  font-size: $p;
  border-radius: 4px;
  border: 1px solid $border;
  height: initial;
  box-sizing: border-box;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  line-height: initial;
  text-transform: none;
}

@mixin city-button($background, $text, $border: $background) {
  @include city-input();

  display: inline-block;
  text-align: center;

  background: $background;
  border: 1px solid $border;
  color: $text;

  &:hover {
    color: $text;
    background: lighten($background, 0.25);
    border: 1px solid lighten($border, 0.25);
  }
}

@mixin transparent-city-button($background, $text) {
  @include city-input();

  display: inline-block;
  text-align: center;

  background: rgba($background, 0.5);
  border: 1px solid rgba($background, 0.75);
  color: $text;

  &:hover {
    color: $text;
    border: 1px solid rgba($background, 0.75);
    background: rgba($background, 0.5);
  }
}

.hr {
  padding-top: $section-margin;
  padding-bottom: $section-margin;

  &::after {
    @include small-section();
    content: '';
    height: 1px;
    padding: 0;
    display: block;
  }

  &--black {
    background: $background-black;

    &::after {
      background: rgba(white, 0.75);
    }
  }

  &--white {
    background: white;

    &::after {
      background: $color0;
    }
  }
}

.hero-background {
  background-image: url('/assets/images/la-hero.jpg');
  background-position: top center;
  background-size: cover;
}

.nav {
  @include section-color(white);

  a {
    color: white;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;

  @include tablet {
    flex-direction: row;
  }

  &__empex {
    line-height: 1;
    font-size: 36px;
    text-transform: uppercase;
  }

  &__spacer {
    flex-grow: 1;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__link {
    flex-basis: 33%;

    @include tablet {
      flex-basis: auto;

      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.hero {
  @include normal-section();

  min-height: 82vw;

  &__content {
    @include section-color(black);

    background: rgba(white, 0.5);
    padding: 0.5rem;
    margin-top: 2rem;

    @include media-tablet {
      background: transparent;
      padding: 0;
      margin-top: 12rem;
    }
  }

  &__presents {
    margin-bottom: 0;
  }

  &__crevalle {
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__buttons {
    margin-top: 2rem;
  }

  &__button {
    width: 100%;

    @include media-tablet {
      width: auto;
      margin-right: 1rem;
    }

    &--cfp {
      @include transparent-city-button(white, black);
    }

    &--buy {
      @include transparent-city-button(black, white);
    }
  }
}

.about {
  @include small-section();
  @include section-color(white);

  #signup-form {
    margin-top: 2rem;
    margin-bottom: 0;

    @include display-flex;
    position: relative;

    @include media-tablet {
      input[type="text"],
      input[type="password"],
      input[type="email"] {
        width: 18em;
      }

      > * {
        margin: 0 0 0 1em;
      }

      > :first-child {
        margin: 0 0 0 0;
      }
    }

    #email {
      @include city-input();
    }

    input.button-primary {
      @include city-button(#DA604B, white);
    }
  }
}

.location {
  margin-bottom: $section-margin;

  &__content-color {
    background: $background-black;
    @include section-color(white);
  }

  &__content {
    @include small-section();
    padding-bottom: $section-margin;
  }

  &__details-color {
    color: $color0;

    background: white;
    background-image: linear-gradient(to bottom, $background-black 25%, white 25%);
  }

  &__details {
    @include normal-section();
  }

  &__image {
    width: 100%;
  }

  &__data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  &__fact {
    display: flex;
    flex-direction: row;
    align-content: center;
    color: black;
  }

  &__icon {
    height: 3rem;
    margin-right: 1rem;
  }
}

.presentations {
  @include small-section();
}

.sponsor-section {
  @include small-section();
  @include section-color(white);
  background: $color0;
  margin-top: 5rem;
  margin-bottom: 5rem;

  a.image-link {
    &:hover {
      border-bottom: none;
      text-decoration: none;
    }
  }

  .sponsor-list {
    @include media-container;
    text-align: center;
  }

  .footer {
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  .sponsors {
    padding-bottom: 30px;
    display: inline-block;

    &.crevalle {
      padding-bottom: 0px;
      img.crevalle-logo {
        height: 250px;
        width: 250px;
      }
    }

    &.platinum {
      h3 {
        color: rgba(175,175,175,1);
      }
      img {
        @include mobile {
          height: 43px;
          width: 300px;
        }

        @include tablet {
          height: 100%;
        }
      }
    }
    &.gold {
      h3 {
        color: rgba(229,184,72,1);
      }

      img {
        height: 110px;
        width: 200px;
      }
    }
    &.lightning {
      h3 {
        color: rgba(229,184,72,1);
      }

      img {
        height: 110px;
        width: 200px;
      }
    }
    &.silver {
      h3 {
        color: rgba(175,175,175,0.5);
      }

      img {
        height: 75px;
        width: 150px;
        padding: 0 15px;
      }
    }
  }
}

.schedule {
  @include small-section();
  @include section-color($color0);

  .schedule-table {
    width: 100%;
      font-size: $p;

    .title {
      font-size: $h3;
    }

    .time {
      text-align: right;
    }
  }
}

.organizers {
  @include small-section();
  @include section-color($color0);
  margin-bottom: $section-margin;

  .organizer-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .organizer {
    @include media-item(75px);
    float: none;
    margin: 1em 0;
    line-height: 1.2em;
    width: 100%;

    h3 {
      margin: 0;
      font-size: 1.2em;
      letter-spacing: .05rem;
      color: $color0;
    }

    @include phablet {
      width: 45%;
      font-size: 0.9em;
      min-height: 90px;
    }

    @include tablet {
      width: 30%;
    }

    @include hd {
      font-size: 1em;
      line-height: 1.25em;
    }
  }
}


#bottom {
  @include content-section;
  background: black;
}

#footer {
  @include transition(opacity 0.2s ease-in-out);
  text-align: center;
  bottom: 4em;
  left: 4em;
  margin-top: 2em;
  color: rgba(255, 255, 255, 0.7);

  a {
    color: inherit;
    &:hover {
      color: $halloweenOrange;
      text-decoration: none;
    }
  }

  .footer__logo {
    margin: auto;
    margin-bottom: 25px;
  }

  .icons {
    margin: 0 0 0.5em 0;
  }

  .links {
    list-style: none;
    padding: 0;

    li {
      border-left: solid 1px rgba(255, 255, 255, 0.25);
      display: inline-block;
      line-height: 1em;
      margin: 0 0 0 0.75em;
      padding: 0 0 0 0.75em;
    }

    li:first-child {
      border-left: 0;
      margin-left: 0;
      padding-left: 0;
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
  .crevalle-name {
    height: 16px;
    width: 92px;

  }

}

