$page-width: 1200px;
$small-section-width: 960px;
$page-padding: 2rem;

$landing-font-size-h2: 48px;
$landing-font-size-body: 25px;


@mixin normal-section {
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin small-section {
  max-width: $small-section-width;
  margin-left: auto;
  margin-right: auto;
}

.landing {
  background: white;
  margin: 0 $page-padding;

  h2 {
    font-size: $landing-font-size-h2;
  }

  p {
    font-size: $landing-font-size-body;
    line-height: 1.25;
  }

  .button, .button-primary, input {
    font-size: $landing-font-size-body;
    padding: (100px - $landing-font-size-body) / 2;
    height: auto;

  }
}

.top {
  @include small-section();

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 37px;
  margin-bottom: 37px;

  @media screen and (min-height: 600px) {
    margin-top: 0;
    margin-bottom: 0;
    height: calc(100vh - 250px - 40px);
  }

  h1, h2, p {
    color: $color0;
  }

  &__name {
    font-size: 64px;
    margin-bottom: 0;
  }

  &__subhead {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 22px;
  }

  &__description {
    font-size: 24px;
    margin: 0;
  }
}

.conferences {
  margin: 0 (-$page-padding);
  margin-bottom: 10rem;
  padding: 0 $page-padding;

  background-image: url('/assets/images/landing/landing-background.png');
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;

  &__content {
    @include normal-section();
  }

  &__stay-involved {
    text-align: center;
    margin-top: 1rem;
    margin-top: 70px;
  }
}

.heros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-card {
  width: 600px;
  height: 1000px;
  display: flex;
  flex-direction: column;

  padding: 2rem;

  margin-left: 1rem;

  &:first-child {
    margin-left: 0;
  }

  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;

  &--la {
    background-image: url('/assets/images/landing/landing-background-la.png');
  }

  &--nyc {
    background-image: url('/assets/images/landing/landing-background-nyc.png');
  }

  &__logo {
    align-self: center;
    height: 250px;
    width: 240px;
  }

  &__city {
    font-weight: normal;
    margin: 0;
  }

  &__description {
    flex-grow: 1;
  }
}

#signup-form {
  @include small-section();
  display: flex;
  flex-direction: row;

  .button-primary {
    margin-left: 0.5rem;
  }

  margin-top: 70px;
}

.spiky-circle {
  width: 100px;
  margin-bottom: 125px;
  margin-top: 75px;
}