$subtleColor: #666;
$primaryColor: #1cb495;
$linkColor: $primaryColor;
$primaryHoverColor: #1fcaa7;

@import "compass/css3/animation";
@import "compass/css3/appearance";
@import "compass/css3/flexbox";
@import "compass/css3/transform";
@import "compass/css3/transition";

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
