@import "compass/css3/font-face";
@import "compass/css3/transition";
@import "compass/css3/animation";

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@include font-face('GT-Walsheim-Regular', font-files(
  '/assets/fonts/GT-Walsheim-Regular.eot',
  '/assets/fonts/GT-Walsheim-Regular.eot',
  '/assets/fonts/GT-Walsheim-Regular.ttf',
  '/assets/fonts/GT-Walsheim-Regular.woff'
));

$subtleColor: #666;

body, input, select, textarea {
  font-family: "GT-Walsheim-Regular";
}

body {
  display: block;
  padding: 4em;
  @include font-smoothing(antialiased);
}

.logo {
  background-size: 260%;
  background-position: center;
  width: 150px;
  height: 150px;
  background-image: url('/assets/images/empex-logo-official.svg');
  margin-bottom: 2em;

  &.white {
    background-image: url('/assets/images/empex-logo-official-white.svg');
  }
}

body {
  &.index {
    .logo {
      background-image: url('/assets/images/empex-logo-official-white.svg');
    }
  }
}

#header {
  a {
    color: #1cb495;

    &.subtle {
      color: $subtleColor;
    }
  }

  h1 {
    font-size: 2.75em;
  }

}

#footer {
  margin-top: 2em;
  color: $subtleColor;
  display: block;
  position: relative;
  left: 0;
  top: 0;
  z-index: 3;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: rgba(255, 255, 255, 0.9);
    opacity: 1;
  }
}

.code-of-conduct, .call-for-speakers {
  padding-top: 3.5em;
  display: block;
  color: black;
  background: white;

  p, ul {
    margin: 0 0 1em 0;
  }

  strong, b {
    color: black;
  }

  h1,h2,h3,h4,h5,h6 {
    color: black;
    margin: 1em 0 0.5em;
  }

  p { color: black; }

  #header {
    h1,h2,h3,h4,h5,h6 { color: black; }
    p { color: $subtleColor; }
  }

  #footer {
    margin-top: 2em;
    color: $subtleColor;
    display: block;
    position: static;
    a {
      color: $subtleColor;
    }
  }
}

#moon {
  left: 0;
  opacity: 0.50;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  div {
    background-image: url('/assets/images/empex-moon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    z-index: 2;

    &.visible {
      @include transition(opacity 3s ease);
      opacity: 1;
    }
  }
}
