<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title> EMPEX -
        Empire City Elixir Conference
    </title>

    <link href="/assets/stylesheets/all-d2f47ec0.css" rel="stylesheet" />
    <link href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css" rel="stylesheet" />
    <link href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css" rel="stylesheet" />

    <link href="/assets/images/favicon.ico" rel="icon" type="image/ico" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73059900-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-73059900-1');
    </script>

    
  </head>

  <body class="partials partials_presenters partials_presenters_bill-peregoy">
    
    <div class="navbar-spacer"></div>
    <nav id="navbar" class="navbar">
  <div class="container">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="#about" class="navbar-link">About</a></li>
        <li class="navbar-item"><a href="#location" class="navbar-link">Location</a></li>
        <li class="navbar-item"><a href="#presentations" class="navbar-link">Presentations</a></li>
        <li class="navbar-item"><a href="#training" class="navbar-link">Training</a></li>
        <li class="navbar-item"><a href="#organizers" class="navbar-link">Organizers</a></li>
      <li class="navbar-item"><a href="/events.html" class="navbar-link">Past Events</a></li>
    </ul>
  </div>
</nav>

    <main>
      <section class="presentation" id="bill-peregoy">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/bill-peregoy-f0e6d563.jpg" class="presentation-presenter__avatar" alt="Bill Peregoy" />
        </div>

        <h4 class="presentation-presenter__name">Bill Peregoy</h4>

        <p class="presentation-presenter__link"><a href="https://twitter.com/billperegoy">@billperegoy</a></p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Higher Level Functions for the Win</h3>
        <div class="presentation__description">
          <p>
            One of the key tenets of functional programming is that functions are first-class citizens. Amongst other things, this means that functions can be accepted as parameters to other functions. While this seems like an interesting idea in theory, developers new to functional programming often have a hard time understanding how to apply higher order functions in their day-to-day work. This talk will give an overview of what higher order functions are, and how we may already be using them in our daily programming life using Elixir library functions like map, filter and reduce. With this background, we will show how to create and use our own higher order functions to increase readability, decrease repetition and simplify the testing process.
          </p>
        </div>
        <div class="presentation__bio">
            <p><strong>About Bill: </strong>Bill Peregoy is a developer at The Gnar Company, a software consultancy in Boston, MA. Bill has worked in a wide range of technical positions, from sub-micron semiconductor design and test, to systems and web programming. Bill is currently exploring the world of functional programming (and chronicling it at: becoming-functional.com) and is currently consulting in Boston MBTA using Elixir to improve local mass transit.</p>
        </div>
    </div>
</section>


    </main>
    <section id="bottom">
  <section class="container content-section">
    <h2>Updates</h2>
    <form id="signup-form" accept-charset="UTF-8" action="https://formkeep.com/f/f87b168aeb37" method="POST">
  <input type="email" name="email" id="email" placeholder="Email Address" />
  <input type="submit" value="Send Me Updates" class="button-primary halloween" />
</form>

    <!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="https://twitter.com/empexco" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://instagram.com/empirecityelixir" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="https://github.com/empirecityelixir" class="icon fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="mailto:info@empex.co" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
  </ul>
  <ul class="links">
    <li>&copy; <a href="#" target="_blank" class="no-hover">
        <img src="/assets/images/sponsors/crevalle-footer-1afc54fb.png" alt="Crevalle" class="crevalle-name" />
</a>    </li>
    <li><a href="../../code-of-conduct.html">Code of Conduct</a></li>
    <li>Design by <a href="http://thoughtmerchants.com">Thought Merchants</a></li>
  </ul>
</footer>

  </section>
</section>

    <script src="/assets/javascripts/vendor/jquery-2.2.1.min-7cb05e3d.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    <script src="/assets/javascripts/nav-e89d8ad7.js"></script>
    
  </body>
</html>
