<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title> EMPEX -
        Empire City Elixir Conference
    </title>

    <link href="/assets/stylesheets/all-d2f47ec0.css" rel="stylesheet" />
    <link href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css" rel="stylesheet" />
    <link href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css" rel="stylesheet" />

    <link href="/assets/images/favicon.ico" rel="icon" type="image/ico" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73059900-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-73059900-1');
    </script>

    
  </head>

  <body class="partials partials_presenters partials_presenters_james-lavin">
    
    <div class="navbar-spacer"></div>
    <nav id="navbar" class="navbar">
  <div class="container">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="#about" class="navbar-link">About</a></li>
        <li class="navbar-item"><a href="#location" class="navbar-link">Location</a></li>
        <li class="navbar-item"><a href="#presentations" class="navbar-link">Presentations</a></li>
        <li class="navbar-item"><a href="#training" class="navbar-link">Training</a></li>
        <li class="navbar-item"><a href="#organizers" class="navbar-link">Organizers</a></li>
      <li class="navbar-item"><a href="/events.html" class="navbar-link">Past Events</a></li>
    </ul>
  </div>
</nav>

    <main>
      <section class="presentation" id="james-lavin">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/james-lavin-cafcda72.jpg" class="presentation-presenter__avatar" alt="James Lavin" />
        </div>

        <h4 class="presentation-presenter__name">James Lavin</h4>

        <p class="presentation-presenter__link"><a href="https://twitter.com/jamesklavin">@jamesklavin</a></p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Lessons Learned Building a Medication Service at Teladoc and How Ecto Saved the Day</h3>
        <div class="presentation__description">
          <p>
            Learn how Teladoc built a medication history and pharmacy benefits service as an Elixir umbrella project. Hear about tools used and lessons learned during the project. And find out how Ecto saved the day when databases were radically overhauled.
          </p>
        </div>
        <div class="presentation__bio">
            <p><strong>About James: </strong>James wasted 14 years at Harvard, LSE, and Stanford studying Not Programming, wrote "Management Secrets of the N.E. Patriots," then became a Ruby dev, the last 5 yrs at Hedgeye &amp; Teladoc. Spoiled by Elixir, he's now enjoying learning Elm, Haskell, &amp; FP.</p>
        </div>
    </div>
</section>


    </main>
    <section id="bottom">
  <section class="container content-section">
    <h2>Updates</h2>
    <form id="signup-form" accept-charset="UTF-8" action="https://formkeep.com/f/f87b168aeb37" method="POST">
  <input type="email" name="email" id="email" placeholder="Email Address" />
  <input type="submit" value="Send Me Updates" class="button-primary halloween" />
</form>

    <!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="https://twitter.com/empexco" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://instagram.com/empirecityelixir" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="https://github.com/empirecityelixir" class="icon fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="mailto:info@empex.co" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
  </ul>
  <ul class="links">
    <li>&copy; <a href="#" target="_blank" class="no-hover">
        <img src="/assets/images/sponsors/crevalle-footer-1afc54fb.png" alt="Crevalle" class="crevalle-name" />
</a>    </li>
    <li><a href="../../code-of-conduct.html">Code of Conduct</a></li>
    <li>Design by <a href="http://thoughtmerchants.com">Thought Merchants</a></li>
  </ul>
</footer>

  </section>
</section>

    <script src="/assets/javascripts/vendor/jquery-2.2.1.min-7cb05e3d.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    <script src="/assets/javascripts/nav-e89d8ad7.js"></script>
    
  </body>
</html>
