<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title> EMPEX -
        Empire City Elixir Conference
    </title>

    <link href="/assets/stylesheets/all-d2f47ec0.css" rel="stylesheet" />
    <link href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css" rel="stylesheet" />
    <link href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css" rel="stylesheet" />

    <link href="/assets/images/favicon.ico" rel="icon" type="image/ico" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73059900-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-73059900-1');
    </script>

    
  </head>

  <body class="partials partials_presenters partials_presenters_jeff-smith">
    
    <div class="navbar-spacer"></div>
    <nav id="navbar" class="navbar">
  <div class="container">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="#about" class="navbar-link">About</a></li>
        <li class="navbar-item"><a href="#location" class="navbar-link">Location</a></li>
        <li class="navbar-item"><a href="#training" class="navbar-link">Training</a></li>
        <li class="navbar-item"><a href="#organizers" class="navbar-link">Organizers</a></li>
    </ul>
  </div>
</nav>

    <main>
      <section class="presentation" id="jeff-smith">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/jeff-smith-3598d2fb.jpg" class="presentation-presenter__avatar" alt="Jeff Smith" />
        </div>

        <h4 class="presentation-presenter__name">Jeff Smith</h4>

        <p class="presentation-presenter__link"><a href="https://twitter.com/jeffksmithjr">@jeffksmithjr</a></p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Neuroevolution in Elixir</h3>
        <div class="presentation__description">
          <p>
          Python has become the dominant language for machine learning, and as an Elixir dev, that’s a real bummer. When building machine learning systems, there’s lots of reasons to want to use tools like metaprogramming, concurrency, supervision, distribution, higher-order functions, and all of the other things that Elixir does well. This talk introduces a library that tries to let Elixir and Python each do what they do best, in collaboration.
          </p>
          <p>
          Galápagos Nǎo is an Elixir library to evolve deep neural networks. Under the hood it uses the Gluon Python API to Apache MXNet, to take advantage of one of the most flexible and performant deep learning libraries around. The goal of this unholy union of technologies is to do something even harder than building deep learning models: build an ecosystem that evolves deep learning model architectures. Just for fun, the framework also includes shiny features like interactive evolution and optimization of architectures for non-functional requirements.
          </p>
          <p>
          Other exciting highlights:
          <ul>
            <li>Supervision</li>
            <li>Cyborg tortoises</li>
            <li>Language interop</li>
            <li>Evolutionary theory</li>
            <li>Bleeding edge deep learning</li>
            <li>Snake charming</li>
          </ul>
          </p>

        </div>
        <div class="presentation__bio">
            <p><strong>About Speaker: </strong>Jeff Smith is an AI developer, author, and manager. He coined the term reactive machine learning and wrote the definitive text on the topic.</p>
        </div>
    </div>
</section>


    </main>
    <section id="bottom">
  <section class="container content-section">
    <h2>Updates</h2>
    <form id="signup-form" accept-charset="UTF-8" action="https://empex.us12.list-manage.com/subscribe/post" method="POST">
  <input type="hidden" name="u" value="9d40dbb0479340efa12eb81d5">
  <input type="hidden" name="id" value="0869b35918">

  <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" placeholder="Email Address">

  <input type="submit" name="submit" value="Send Me Updates" class="button-primary halloween" />
</form>

    <!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="https://twitter.com/empexco" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://instagram.com/empirecityelixir" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="https://github.com/empirecityelixir" class="icon fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="mailto:info@empex.co" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
  </ul>
  <ul class="links">
    <li>&copy; <a href="#" target="_blank" class="no-hover">
        <img src="/assets/images/sponsors/crevalle-footer-1afc54fb.png" alt="Crevalle" title="Crevalle" class="crevalle-name" />
</a>    </li>
    <li><a href="../../code-of-conduct.html">Code of Conduct</a></li>
    <li>Design by <a href="http://thoughtmerchants.com">Thought Merchants</a></li>
  </ul>
</footer>

  </section>
</section>

    <script src="/assets/javascripts/vendor/jquery-2.2.1.min-7cb05e3d.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    <script src="/assets/javascripts/nav-e89d8ad7.js"></script>
    
  </body>
</html>
