<% page_nav = %w[about location speakers sponsors organizers] %>
<nav id="navbar" class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <% page_nav.each do |nav| %>
        <li class="navbar-item"><%= link_to nav.titleize, "/##{nav}", class: "navbar-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
