<%# <% page_nav = %w[about location presentations schedule training sponsors organizers] %1> %>
<% page_nav = %w[about location presentations training organizers] %>
<nav id="navbar" class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <% page_nav.each do |nav| %>
        <li class="navbar-item"><%= link_to nav.titleize, "##{nav}", class: "navbar-link" %></li>
      <% end %>
      <%# <li class="navbar-item"><%= link_to "Past Events", "/events.html", class: "navbar-link" %1></li> %>
    </ul>
  </div>
</nav>
