<section class="organizer-list">
  <% data.organizers.map{ |a| a.last }.sort_by{ |o| o.name.split(" ").last }.each do |organizer| %>
    <%= partial "partials/organizer", locals: {organizer: organizer} %>
  <% end %>
</section>
