<header id="header">
  <%= partial "partials/logo" %>
  <h1>
    <%= current_page.data.title %>
  </h1>
  <p>
    <%= link_to "EMPEX Halloween Lightning Talks", "/index.html", class: "subtle" %><br/>
    Thursday, October 27, New York  NY
  </p>
</header>
