<section class="presenter-list">
  <h2 class="presentations-list__title">Presentations</h2>

  <div class="presentations-list__intro">
      We're proud to announce the following presenters for EMPEX!
  </div>

  <%= partial "partials/presenters/john-kelly" %>

</section>
