<!-- KEYNOTES -->
<section class="presentation-list">
    <%= partial "partials/keynotes" %>
</section>

<!-- PRESENTERS -->
<section class="presentation-list">
    <%= partial "partials/presenters" %>
</section>
