<section id="producer">
  <div class="content-section container">
    <div class="bg-wrapper">
      <div class="row">
        <div class="producer crevalle">
          EMPEX is a production of <br />

          <a href="http://crevalle.io/"
             class="image-link"
             target="_blank">

            <img src="/assets/images/sponsors/crevalle.png"
                 alt="Crevalle"
                 class="crevalle-logo" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
