<section class="schedule-table">
  <table>
    <% schedule.each do |entry| %>
      <tr>
        <td class="time">
          <%= entry.time %>
        </td>
        <td class="event">
          <% if entry.title.present? %>
            <div class="title"><%= entry.title %></div>
          <% end %>
          <% if entry.description.present? %>
            <div class="desc">
              <%= render_markdown(entry.description) %>
            </div>
          <% end %>
          <% if entry.presentation.present? %>
            <div class="title">
              <% presentation = find_presentation(entry.presentation) %>
              <%= presentation.title %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</section>
