<section class="schedule-table">
  <table>
      <tr>
        <td class="time">8:30AM</td>
        <td class="event">
          <div class="title">Doors open / Registration</div>
          <div class="desc">Breakfast &amp; Chat</div>
        </td>
      </tr>
      <tr>
        <td class="time">9:15AM</td>
        <td class="event"><div class="title">Opening Remarks</div></td>
      </tr>
      <tr>
        <td class="time">9:25AM</td>
        <td class="event">
          <div class="title">Opening Keynote</div>
          <div class="desc">Brooklyn Zelenka</div>
        </td>
      </tr>
      <tr>
        <td class="time">10:15AM</td>
        <td class="event">
          <div class="title">Higher Level Functions for the Win</div>
          <div class="desc">Bill Peregoy</div>
        </td>
      </tr>
      <tr>
        <td class="time">10:35AM</td>
        <td class="event"><div class="title">Break</div></td>
      </tr>
      <tr>
        <td class="time">10:50AM</td>
        <td class="event">
          <div class="title">The Best of Both Worlds: High Performance Recommendations with Elixir NIFs</div>
          <div class="desc">Shanti Chellaram</div>
        </td>
      </tr>
      <tr>
        <td class="time">11:35AM</td>
        <td class="event">
          <div class="title">Recurrences &amp; Intervals</div>
          <div class="desc">Wojtek Mach</div>
        </td>
      </tr>
      <tr>
        <td class="time">11:55AM</td>
        <td class="event"><div class="title">Lunch</div></td>
      </tr>
      <tr>
        <td class="time">12:40PM</td>
        <td class="event">
          <div class="title">Neuroevolution in Elixir</div>
          <div class="desc">Jeff Smith</div>
        </td>
      </tr>
      <tr>
        <td class="time">1:05PM</td>
        <td class="event">
          <div class="title">`mix new beats` &mdash; Recreating The "Amen Break" with Elixir</div>
          <div class="desc">Mat Trudel</div>
        </td>
      </tr>
      <tr>
        <td class="time">1:45PM</td>
        <td class="event"><div class="title">Break</div></td>
      </tr>
      <tr>
        <td class="time">2:00PM</td>
        <td class="event">
          <div class="title">Phoenix Presence: The Right Way To Track User Involvement in Real-Time Features</div>
          <div class="desc">Sophie DeBenedetto</div>
        </td>
      </tr>
      <tr>
        <td class="time">2:25PM</td>
        <td class="event">
          <div class="title">Lessons Learned Building a Medication Service at Teladoc and How Ecto Saved the Day</div>
          <div class="desc">James Lavin</div>
        </td>
      </tr>
      <tr>
        <td class="time">3:00PM</td>
        <td class="event">
          <div class="title">Pattern Matching: The Gateway to Loving Elixir</div>
          <div class="desc">Kate Travers</div>
        </td>
      </tr>
      <tr>
        <td class="time">3:20PM</td>
        <td class="event">
          <div class="title">Break</div>
          <div class="desc">Snacks!</div>
        </td>
      </tr>
      <tr>
        <td class="time">3:40PM</td>
        <td class="event">
          <div class="title">GenStage: Keeping large amounts of data up-to-date with Pipelines</div>
          <div class="desc">Robert Beene</div>
        </td>
      </tr>
      <tr>
        <td class="time">4:25PM</td>
        <td class="event">
          <div class="title">Keynote</div>
          <div class="desc">Dave Thomas</div>
        </td>

      </tr>
      <tr>
        <td class="time">5:05PM</td>
        <td class="event"><div class="title">Closing Remarks</div></td>
      </tr>
      <tr>
        <td class="time">5:15PM</td>
        <td class="event">
            <div class="title">After Party!</div>
            <div class="desc"><p>Nearby location to be announced.</p></div>
        </td>
      </tr>
  </table>
</section>
