<form id="signup-form" accept-charset="UTF-8" action="https://empex.us12.list-manage.com/subscribe/post" method="POST">
  <input type="hidden" name="u" value="9d40dbb0479340efa12eb81d5">
  <input type="hidden" name="id" value="0869b35918">

  <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" placeholder="Email Address">

  <input type="submit" name="submit" value="Send Me Updates" class="button-primary halloween" />
</form>
