<form id="signup-form" accept-charset="UTF-8" action="https://formkeep.com/f/f87b168aeb37" method="POST">
  <input type="email" name="email" id="email" placeholder="Email Address" />
  <input type="submit" value="Send Me Updates" />
</form>
