<section class="speaker-list">
  <% headline, regular = speakers.select {|s| s.date.month == 10 && s.date.day == 27}.partition {|s| s.data.try :headline } %>

  <% alphabetize(headline).each do |speaker| %>
    <%= partial "partials/speaker", locals: { speaker: speaker } %>
  <% end %>

  <% alphabetize(regular).each do |speaker| %>
    <%= partial "partials/speaker", locals: { speaker: speaker } %>
  <% end %>
</section>
