<section class="sponsor-list">
  <div class="row">
    <div class="sponsors crevalle">
      The Empire City Elixir Conference is a production of <br />
      <% link_to crevalle.data.link, class: 'image-link', target: '_blank' do %>
        <%= image_tag crevalle.data.image, alt: crevalle.data.title, class: 'crevalle-logo' %>
      <% end %>
      </a>
    </div>
    <div class="row">
      ⚡️ The Halloween Lightning Talks are brought to you by our Lightning Sponsors ⚡️
    </div>
    <div class="row">
      <div class="sponsors lightning">
        <% sponsors.select{|s| s.date.month == 10 && s.date.day == 27}.each do |sponsor| %>

          <% link_to sponsor.data.link, class: 'image-link', target: '_blank' do %>
            <%= image_tag sponsor.data.image, alt: sponsor.data.title %>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
