<section id="sponsors">
  <div class="content-section container">
    <h2>Sponsors</h2>
    <section class="sponsor-list">
      <div class="row">
        <div class="row">
          <div class="sponsors platinum">
            <h2>Platinum Level</h2>
            <div>
            <img src="/assets/images/sponsors/pepsicoecomm.png" alt="PepsiCo eCommerce" />
            </div>
          </div>
          <div class="row">
            <div class="sponsors gold">
              <h2>Gold Level</h2>
              <div>
                <a href="https://simplebet.io"
                         class="image-link"
                         target="_blank">
                        <img src="/assets/images/sponsors/simplebet.png" alt="SimpleBet" />
                      </a>
                <a href="https://frame.io"
                       class="image-link"
                       target="_blank">
                        <img src="/assets/images/sponsors/frameio.png" alt="Frame.io" />
                    </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="sponsors publisher">
              <h2>Publishers</h2>
              <div>
                <a href="https://www.manning.com"
                       class="image-link"
                       target="_blank">
                        <img src="/assets/images/sponsors/manning.png" alt="Manning" />
                    </a>
                  <a href="https://pragprog.com/"
                     class="image-link"
                     target="_blank">
                      <img src="/assets/images/sponsors/pragmatic.png" alt="The Pragmatic Bookshelf" />
                  </a>
              </div>
            </div>
          </div>
        </div>
    </section>
    If you're interested in sponsoring EMPEX NYC, please email <a mailto: 'info@empex.co'>info@empex.co</a>.
  </div>
</section>
