<section class="sponsor-list">
  <div class="row">
    <div class="sponsors crevalle">
      The Empire City Elixir Conference is a production of <br />
      <% link_to crevalle.data.link, class: 'image-link', target: '_blank' do %>
        <%= image_tag crevalle.data.image, alt: crevalle.data.title, class: 'crevalle-logo' %>
      <% end %>
      </a>
    </div>
  </div>
</section>
