<section class="sponsor-list">
  <div class="row">
    <div class="sponsors crevalle">
      EMPEX is a production of <br />
      <% link_to producer.link, class: 'image-link', target: '_blank' do %>
        <%= image_tag "sponsors/#{producer.image}", alt: producer.name, class: 'crevalle-logo' %>
      <% end %>
      </a>
    </div>

    <div class="row">
      <div class="sponsors platinum">
        <h2>Platinum Level</h2>

        <a href="http://example.com"
           class="image-link"
           target="_blank">
          <img src="/assets/images/sponsors/pepsicoecomm.png" alt="PepsiCo eCommerce" />
        </a>

      </div>
    </div>

    <div class="row">
      <div class="sponsors platinum">
        <h2>Gold Level</h2>

        <div class="white_background" style="background-color: white; padding: 6px 8px 0px 8px">
        <a href="http://simplebet.com"
           class="image-link"
           target="_blank">
          <img src="/assets/images/sponsors/simplebet.png" alt="SimpleBet" />
        </a>
        </div>

      </div>
    </div>

  </div>
</section>

