    <h2 class="presentations-list__title">Keynotes</h2>
    <div class="presentations-list__intro">
      <p>
        We&#39;re excited and proud to announce our
        keynote speakers for the fourth annual EMPEX!
      </p>
    </div>

    <%= partial "partials/keynotes/dave-thomas" %>
