<section class="presentation" id="dave-thomas">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/thomas-dave.png" class="presentation-presenter__avatar" alt="Thomas dave" />
        </div>

        <h4 class="presentation-presenter__name">Dave Thomas</h4>
        <p class="presentation-presenter__link"><a href="https://twitter.com/pragdave">@pragdave</a></p>
        <p class="presentation-presenter__link"><a href="https://pragdave.me" target="_blank">pragdave.me</a></p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Keynote</h3>
        <div class="presentation__description"></div>
        <div class="presentation__bio">
            <p>Dave Thomas is a programmer.</p>

        </div>
    </div>
</section>
