<section class="presentation" id="dave-thomas">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/thomas-dave.png" class="presentation-presenter__avatar" alt="Thomas dave" />
        </div>

        <h4 class="presentation-presenter__name">Dave Thomas</h4>
        <p class="presentation-presenter__link"><a href="https://twitter.com/pragdave">@pragdave</a></p>
        <p class="presentation-presenter__link"><a href="https://pragdave.me" target="_blank">pragdave.me</a></p>
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Keynote</h3>
        <div class="presentation__description"></div>
        <div class="presentation__bio">
          <p>
            Dave Thomas has written code just about every day in the last 45 years. One day he’ll get it right.
            </p><p>
            He’s an author: The Pragmatic Programmer, The Manifesto for Agile Software Development, Programming Ruby, Agile Web Development with Rails, and recently Programming Elixir. He speaks at conferences around the world, and runs training for folks who want to enjoy themselves while learning (kind of like a Comedy Defensive Driving class).
            </p><p>
            But mostly he writes code; sometimes to solve problems, sometimes to understand problems, and often to create them.
            </p><p>
            He has strong and controversial views on how Elixir should be written; prepare to be both entertained and annoyed.
          </p>
        </div>
    </div>
</section>
