  <section class="presentation">
      <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
              <img src="/assets/images/people/presenters/andy-mccown.jpg" class="presentation-presenter__avatar" alt="Andy McCown" />
          </div>

          <h4 class="presentation-presenter__name">Andy McCown</h4>

          <p class="presentation-presenter__link"><a href="https://twitter.com/AndyMcDev">@AndyMcDev</a></p>
      </div>

      <div class="presentation__details">
          <h3 class="presentation__title">Crash Course in Elixir, for (Ruby, Java, JS, etc) Developers</h3>
          <div class="presentation__description">
            <p>Are you interested in Elixir, but you haven't yet learned the language?</p>
            <p>Are you an imperative language programmer who's finding it tricky to get a handle on the functional approach?</p>
            <p>Do you find yourself wishing that Elixir had a "for loop"?</p>
            <p>We've all been there, and we've developed a one-day workshop to get you past the learning curve.  Starting with the absolute fundamentals of Elixir's datatypes, we'll take you through every aspect of the language that tripped us up when we were learning.</p>
            <p>By the end of the day, you will be able to confidently solve complex business problems faster and more reliably than you'd have ever believed possible.  Learning to build solutions on top of immutable data structures requires a new way of thinking, and we've designed our workshop to get you thinking that way quickly.</p>
            <p>
              We will cover:
              <ul>
                <li>All the built-in datatypes: numbers, binaries (strings), lists, maps, structures, tuples, and atoms.</li>
                <li>Functions: anonymous functions, named functions, and higher order functions.</li>
                <li>Pattern matching:  This is a hugely powerful technique, and is probably the one thing most developers miss when they find themselves coding in another language after experiencing it in Elixir.</li>
                <li>Elixir tooling: How our projects are organized, the build system, the dependency management system, the test framework, and the rich documentation system.</li>
                <li>How to model problems using functional patterns instead of Object Oriented patterns.</li>
              </ul>
            </p>

            <p>Our aim is to provide a mentally challenging, but enormously rewarding day.  Every segment will include hands-on exercises and challenges, and we will have two instructors helping you if you get stuck.</p>
            <p>Who should come?  The course is not for complete beginners. You should be comfortable programming in some language, but what language is unimportant.  People whose proficiency lies outside the functional paradigm will probably get the most out of the course, but functional programmers who are new to Elixir will find the course to be a useful survey of the main features of the  Elixir ecosystem.</p>
          </div>
          <div class="presentation__bio">
              <p><strong>About Andy:</strong> Andy is life-long developer currently managing a development team at TBWA\Worldwide. He came across Elixir a couple years ago and since then it&apos;s absorbed much of his &quot;play&quot; time.</p>
          </div>
      </div>
  </section>
