<section class="presentation">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
          <img src="/assets/images/people/presenters/frank-hunleth.jpg"
               class="presentation-presenter__avatar"
               alt="Frank Hunleth's Headshot" />
        </div>
        <h4 class="presentation-presenter__name">Frank Hunleth</h4>
        <p class="presentation-presenter__link">
          <a href="https://twitter.com/fhunleth">@fhunleth</a>
        </p>
        <br/>

        <div class="presentation-presenter__avatar-container">
          <img src="/assets/images/people/presenters/justin-schneck.jpg"
               class="presentation-presenter__avatar"
               alt="Justin Schneck's Headshot" />
        </div>
        <h4 class="presentation-presenter__name">Justin Schneck</h4>
        <p class="presentation-presenter__link">
          <a href="https://twitter.com/mobileoverlord">@mobileoverlord</a>
        </p>
        <br/>
    </div>

    <div class="presentation__details">
      <h3 class="presentation__title">
        Device to the Cloud with Nerves and NervesHub
      </h3>
      <div class="presentation__description">
        <p>
          The Elixir language and Erlang runtime provide a uniquely robust
          and productive environment that runs well from embedded to server.
          This class extends on previous Nerves training to the cloud for
          device/server communications and device management with NervesHub.
          Attendees will assemble real devices and build out the software
          step-by-step for a simple device with the help of the authors of
          Nerves.
        </p>
      </div>

        <%# <div class="presentation__bio"> %>
            <%# <p><strong>About</strong></p> %>
        <%# </div> %>
    </div>
</section>
