<section class="presentation">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/user.jpg" class="presentation-presenter__avatar" alt="" />
        </div>

        <h4 class="presentation-presenter__name">Instructor TBA</h4>

        <!-- <p class="presentation-presenter__link"><a href="https://twitter.com/">@</a></p> -->
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Intro To Nerves</h3>
        <div class="presentation__description">
          In this day-long workshop, you'll be introduced to <a href="https://nerves-project.org">Nerves</a>, the Elixir framework for embedded applications.
          You'll build and run your code on hardware provided by your trainers, developers with experience using Nerves in a real-world application.
          More info coming soon!
        </div>
        <div class="presentation__bio">
            <!-- <p><strong>About :</strong> </p> -->
        </div>
    </div>
</section>
