<section class="presentation">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
          <img src="/assets/images/people/presenters/frank-hunleth.jpg"
               class="presentation-presenter__avatar"
               alt="Frank Hunleth's Headshot" />
        </div>
        <h4 class="presentation-presenter__name">Frank Hunleth</h4>
        <p class="presentation-presenter__link">
          <a href="https://twitter.com/fhunleth">@fhunleth</a>
        </p>
        <br/>

        <div class="presentation-presenter__avatar-container">
          <img src="/assets/images/people/presenters/justin-schneck.jpg"
               class="presentation-presenter__avatar"
               alt="Justin Schneck's Headshot" />
        </div>
        <h4 class="presentation-presenter__name">Justin Schneck</h4>
        <p class="presentation-presenter__link">
          <a href="https://twitter.com/mobileoverlord">@mobileoverlord</a>
        </p>
        <br/>
    </div>

    <div class="presentation__details">
      <h3 class="presentation__title">
        Device to the Cloud with Nerves and NervesHub
      </h3>
      <div class="presentation__description">
        <p>
          The Elixir language and Erlang runtime provide a uniquely robust
          and productive environment that runs well from embedded to server.
          This class extends on previous Nerves training to the cloud for
          device/server communications and device management with NervesHub.
          Attendees will assemble real devices and build out the software
          step-by-step for a simple multi-user game with the help of the
          authors of Nerves.
        </p>
        <p>
          We’ll spend the first half of the day building the device and
          getting comfortable with developing and debugging on Nerves.
          If you’ve attended previous Nerves courses, this one will have
          greater emphasis on networking and device provisioning. The
          second half transitions to managing devices with NervesHub and
          developing a simple companion Phoenix application.
        </p>
        <p>
          The workshop is appropriate for beginners and expert Elixir
          programmers alike since it focuses more on embedded development
          than pure coding. Since the Nerves development is rapidly
          improving, even veteran embedded Elixir programmers will learn
          new ways of making their development cycle better. Beginners to
          Elixir are highly encouraged to create a couple toy projects and
          learn about GenServers and OTP releases beforehand.
        </p>
      </div>

        <%# <div class="presentation__bio"> %>
            <%# <p><strong>About</strong></p> %>
        <%# </div> %>
    </div>
</section>
