<section class="presentation">
    <div class="presentation-presenter">
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/bowery-kevin.jpg" class="presentation-presenter__avatar" alt="" />
        </div>
        <h4 class="presentation-presenter__name">Kevin</h4>
        <!-- <p class="presentation-presenter__link"><a href="https://twitter.com/">@</a></p> -->
        <br/>
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/bowery-dylan.jpg" class="presentation-presenter__avatar" alt="" />
        </div>
        <h4 class="presentation-presenter__name">Dylan</h4>
        <!-- <p class="presentation-presenter__link"><a href="https://twitter.com/">@</a></p> -->
        <br/>
        <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/bowery-henry.jpg" class="presentation-presenter__avatar" alt="" />
        </div>
        <h4 class="presentation-presenter__name">Henry</h4>
        <!-- <p class="presentation-presenter__link"><a href="https://twitter.com/">@</a></p> -->
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Growing with Nerves: An Introduction to Nerves with Bowery Farming</h3>
        <div class="presentation__description">
          <p>In this workshop, Dylan, Kevin and Henry from Bowery Farming will be walking through the basics of using Nerves to develop a home garden monitoring system on a Raspberry Pi. Topics to be covered included: Nerves basics, how to structure your app, ways to connect to IoT platforms, how to mock hardware for testing, and ways to deploy updates to your embedded system.</p>
          <p>Hardware, code examples, and plants will be included so the end result of the day will be a plant that you’ll be able to monitor while you’re at your next Elixir conference.</p>
        </div>

        <div class="presentation__bio">
            <p><strong>About Kevin:</strong> Kevin is a software engineer at Bowery Farming. He spends his days working in Elixir and Nerves to help build the modern farm! He lives in Brooklyn with his wife, dog, and fat cat.</p>
        </div>

        <div class="presentation__bio">
          <p><strong>About Dylan:</strong> Dylan is a software engineer and designer in New York City. He's stoked to use technology to bring the purest produce imaginable into folks' homes and onto their plates.</p>
        </div>

        <div class="presentation__bio">
          <p><strong>About Henry:</strong> Henry is a life long physicist turned software developer turned farmer. He is passionate about the intersection of software, hardware, and the physical world. He lives in the suburbs of New York with his family where they too look after a pretty substantial size vegetable garden.</p>
        </div>
    </div>
</section>
