<section class="presentation">
    <div class="presentation-presenter">
        <!-- <div class="presentation-presenter__avatar-container">
            <img src="/assets/images/people/presenters/.jpg" class="presentation-presenter__avatar" alt="" />
        </div>

        <h4 class="presentation-presenter__name"></h4>

        <p class="presentation-presenter__link"><a href="https://twitter.com/">@</a></p> -->
    </div>

    <div class="presentation__details">
        <h3 class="presentation__title">Intro To Nerves</h3>
        <div class="presentation__description">
        </div>
        <div class="presentation__bio">
            <!-- <p><strong>About :</strong> </p> -->
        </div>
    </div>
</section>
