<header id="header">
  <h1>
    <%= current_page.data.title %>
  </h1>
  <p>
    <%= link_to "Empire City Elixir Conf 2016", "/index.html", class: "subtle" %><br/>
    Saturday, May 21, New York  NY
  </p>
</header>
