---
title: Empire City Elixir Conf
layout: prelaunch
---

<!-- Header -->
<header id="header">
  <h1>Empire City Elixir Conf <span class="year">2016</span></h1>
  <p>Saturday, May 21st, New York NY <br />
    A one-day conference for passionate programmers <br />
    <%= link_to "Call for Speakers now open", "/call-for-speakers.html" %>
  </p>
</header>

<!-- Signup Form -->
<form id="signup-form" accept-charset="UTF-8" action="https://formkeep.com/f/f87b168aeb37" method="POST">
  <input type="email" name="email" id="email" placeholder="Email Address" />
  <input type="submit" value="Send Me Updates" />
</form>
